<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/master.css">
  </head>
  <body>
    <h1>Cars images</h1>
    <img src="images/car1.jpeg" alt="car3" style="width:304px;height:228px;" >
    <img src="images/car2.jpeg" alt="car3" style="width:304px;height:228px;" >
    <img src="images/car3.jpeg" alt="car3" style="width:550pxpx;height:350px;" >
    <img src="images/car4.jpeg" alt="car3" style="width:304px;height:228px;" >
  </body>
</html>
