
<html>
  <body>
    <h2>Here all the users</h2>
    <% for (var x in users) { %>

      <h3>Name: <%= users[x].name %></h3>
      <h3>Email: <%= users[x].email %></h3>
      <hr>

      <% } %>


  </body>
</html>
