<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Welcome to Quoting Dojo</h3>
    <form action="/quotes" method="post">
      <p>Your Name: <input type="text" name="name"></p>
      <p>Your Quote: <textarea name="quote" rows="8" cols="80"></textarea></p>
      <input type="submit"value="Add my Quote">

    </form>
    <a href="/quotes">Skip to Quotes</a>
  </body>
</html>
