<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/mongooses/<%= id%>" method="post">
      <p>id: req.params.id</p>
      <p><%= id%></p>
      <p>name:<input type="text" name="name"</p>
      <p><input type="submit" value="submit"></p>

    </form>
  </body>
</html>
