<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/mongooses" method="post">
      <p>Add a New Rabbit: <input type="text" name="name" ></p>
      <input type="submit" value="submit">

    </form>
  </body>
</html>
